lib/soap/publizon/v2_7/wsdl/createloan.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="pubhub.dk"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="pubhub.dk">
  <script />
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="pubhub.dk">
      <s:element name="CreateLoan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retailerid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="retailerkeycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ebookid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardnumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="countrycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="institutionid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="institutionTags" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
            type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateLoanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateLoanResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateLoanSoapIn">
    <wsdl:part name="parameters" element="tns:CreateLoan" />
  </wsdl:message>
  <wsdl:message name="CreateLoanSoapOut">
    <wsdl:part name="parameters" element="tns:CreateLoanResponse" />
  </wsdl:message>
  <wsdl:portType name="createloanSoap">
    <wsdl:operation name="CreateLoan">
      <wsdl:input message="tns:CreateLoanSoapIn" />
      <wsdl:output message="tns:CreateLoanSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="createloanSoap" type="tns:createloanSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateLoan">
      <soap:operation soapAction="pubhub.dk/CreateLoan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="createloanSoap12" type="tns:createloanSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateLoan">
      <soap12:operation soapAction="pubhub.dk/CreateLoan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="createloan">
    <wsdl:port name="createloanSoap" binding="tns:createloanSoap">
      <soap:address location="https://libraryservices.pubhub.dk/v2_7/createloan.asmx" />
    </wsdl:port>
    <wsdl:port name="createloanSoap12" binding="tns:createloanSoap12">
      <soap12:address location="https://libraryservices.pubhub.dk/v2_7/createloan.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
