lib/soap/publizon/v2_7/wsdl/getfriendlycardnumber.wsdl

<wsdl:definitions
  xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:tns="http://pubhub.dk/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  targetNamespace="http://pubhub.dk/">

  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pubhub.dk/">
      <s:element name="GetFriendlyCardnumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retailerid" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="retailerkeycode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="cardnumber" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="clientid" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFriendlyCardnumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFriendlyCardnumberResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>

  <wsdl:message name="GetFriendlyCardnumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetFriendlyCardnumber"/>
  </wsdl:message>
  <wsdl:message name="GetFriendlyCardnumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetFriendlyCardnumberResponse"/>
  </wsdl:message>

  <wsdl:portType name="getfriendlycardnumberSoap">
    <wsdl:operation name="GetFriendlyCardnumber">
      <wsdl:input message="tns:GetFriendlyCardnumberSoapIn"/>
      <wsdl:output message="tns:GetFriendlyCardnumberSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="getfriendlycardnumberSoap" type="tns:getfriendlycardnumberSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetFriendlyCardnumber">
      <soap:operation soapAction="http://pubhub.dk/GetFriendlyCardnumber" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="getfriendlycardnumberSoap12" type="tns:getfriendlycardnumberSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetFriendlyCardnumber">
      <soap12:operation soapAction="http://pubhub.dk/GetFriendlyCardnumber" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="getfriendlycardnumber">
    <wsdl:port name="getfriendlycardnumberSoap" binding="tns:getfriendlycardnumberSoap">
      <soap:address location="https://libraryservices.pubhub.dk/v2_7/getfriendlycardnumber.asmx"/>
    </wsdl:port>
    <wsdl:port name="getfriendlycardnumberSoap12" binding="tns:getfriendlycardnumberSoap12">
      <soap12:address location="https://libraryservices.pubhub.dk/v2_7/getfriendlycardnumber.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
