lib/soap/publizon/v2_7/wsdl/getlibraryinfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://pubhub.dk/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://pubhub.dk/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pubhub.dk/">
      <s:element name="GetLibraryProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retailerid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="retailerkeycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="institutionTags" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
            type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLibraryProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLibraryProfileResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLibraryProfileSoapIn">
    <wsdl:part name="parameters" element="tns:GetLibraryProfile" />
  </wsdl:message>
  <wsdl:message name="GetLibraryProfileSoapOut">
    <wsdl:part name="parameters" element="tns:GetLibraryProfileResponse" />
  </wsdl:message>
  <wsdl:portType name="getlibraryinfoSoap">
    <wsdl:operation name="GetLibraryProfile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Service endpoint returning a
        library profile based on library id</wsdl:documentation>
      <wsdl:input message="tns:GetLibraryProfileSoapIn" />
      <wsdl:output message="tns:GetLibraryProfileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getlibraryinfoSoap" type="tns:getlibraryinfoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLibraryProfile">
      <soap:operation soapAction="http://pubhub.dk/GetLibraryProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="getlibraryinfoSoap12" type="tns:getlibraryinfoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLibraryProfile">
      <soap12:operation soapAction="http://pubhub.dk/GetLibraryProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getlibraryinfo">
    <wsdl:port name="getlibraryinfoSoap" binding="tns:getlibraryinfoSoap">
      <soap:address location="https://libraryservices.pubhub.dk/v2_7/getlibraryinfo.asmx" />
    </wsdl:port>
    <wsdl:port name="getlibraryinfoSoap12" binding="tns:getlibraryinfoSoap12">
      <soap12:address location="https://libraryservices.pubhub.dk/v2_7/getlibraryinfo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
