lib/soap/publizon/v2_7/wsdl/getlibraryuserorderlist.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://pubhub.dk/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://pubhub.dk/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pubhub.dk/">
      <s:element name="GetLibraryUserOrderList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retailerid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="retailerkeycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardnumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="languagecode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="booktype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLibraryUserOrderListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLibraryUserOrderListResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLibraryUserOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retailerid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="retailerkeycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardnumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="languagecode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ebookid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLibraryUserOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLibraryUserOrderResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLibraryUserOrderListSoapIn">
    <wsdl:part name="parameters" element="tns:GetLibraryUserOrderList" />
  </wsdl:message>
  <wsdl:message name="GetLibraryUserOrderListSoapOut">
    <wsdl:part name="parameters" element="tns:GetLibraryUserOrderListResponse" />
  </wsdl:message>
  <wsdl:message name="GetLibraryUserOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetLibraryUserOrder" />
  </wsdl:message>
  <wsdl:message name="GetLibraryUserOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetLibraryUserOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="getlibraryuserorderlistSoap">
    <wsdl:operation name="GetLibraryUserOrderList">
      <wsdl:input message="tns:GetLibraryUserOrderListSoapIn" />
      <wsdl:output message="tns:GetLibraryUserOrderListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLibraryUserOrder">
      <wsdl:input message="tns:GetLibraryUserOrderSoapIn" />
      <wsdl:output message="tns:GetLibraryUserOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getlibraryuserorderlistSoap" type="tns:getlibraryuserorderlistSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLibraryUserOrderList">
      <soap:operation soapAction="http://pubhub.dk/GetLibraryUserOrderList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLibraryUserOrder">
      <soap:operation soapAction="http://pubhub.dk/GetLibraryUserOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="getlibraryuserorderlistSoap12" type="tns:getlibraryuserorderlistSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLibraryUserOrderList">
      <soap12:operation soapAction="http://pubhub.dk/GetLibraryUserOrderList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLibraryUserOrder">
      <soap12:operation soapAction="http://pubhub.dk/GetLibraryUserOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getlibraryuserorderlist">
    <wsdl:port name="getlibraryuserorderlistSoap" binding="tns:getlibraryuserorderlistSoap">
      <soap:address location="https://libraryservices.pubhub.dk/v2_7/getlibraryuserorderlist.asmx" />
    </wsdl:port>
    <wsdl:port name="getlibraryuserorderlistSoap12" binding="tns:getlibraryuserorderlistSoap12">
      <soap12:address location="https://libraryservices.pubhub.dk/v2_7/getlibraryuserorderlist.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>