lib/soap/publizon/v2_7/wsdl/getproductloanstatus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://pubhub.dk/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://pubhub.dk/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pubhub.dk/">
      <s:element name="GetProductLoanStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retailerid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="retailerkeycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ebookid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardnumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductLoanStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductLoanStatusResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductLoanStatusList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retailerid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="retailerkeycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ebookids" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="cardnumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ebookid" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProductLoanStatusListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductLoanStatusListResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetProductLoanStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductLoanStatus" />
  </wsdl:message>
  <wsdl:message name="GetProductLoanStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductLoanStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductLoanStatusListSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductLoanStatusList" />
  </wsdl:message>
  <wsdl:message name="GetProductLoanStatusListSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductLoanStatusListResponse" />
  </wsdl:message>
  <wsdl:portType name="getproductloanstatusSoap">
    <wsdl:operation name="GetProductLoanStatus">
      <wsdl:input message="tns:GetProductLoanStatusSoapIn" />
      <wsdl:output message="tns:GetProductLoanStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductLoanStatusList">
      <wsdl:input message="tns:GetProductLoanStatusListSoapIn" />
      <wsdl:output message="tns:GetProductLoanStatusListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getproductloanstatusSoap" type="tns:getproductloanstatusSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductLoanStatus">
      <soap:operation soapAction="http://pubhub.dk/GetProductLoanStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductLoanStatusList">
      <soap:operation soapAction="http://pubhub.dk/GetProductLoanStatusList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="getproductloanstatusSoap12" type="tns:getproductloanstatusSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductLoanStatus">
      <soap12:operation soapAction="http://pubhub.dk/GetProductLoanStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductLoanStatusList">
      <soap12:operation soapAction="http://pubhub.dk/GetProductLoanStatusList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getproductloanstatus">
    <wsdl:port name="getproductloanstatusSoap" binding="tns:getproductloanstatusSoap">
      <soap:address location="https://libraryservices.pubhub.dk/v2_7/getproductloanstatus.asmx" />
    </wsdl:port>
    <wsdl:port name="getproductloanstatusSoap12" binding="tns:getproductloanstatusSoap12">
      <soap12:address location="https://libraryservices.pubhub.dk/v2_7/getproductloanstatus.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>